@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:ital,wght@0,400;0,700;1,400&display=swap");
body, html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Recursive", sans-serif;
  background-color: #161616;
  color: #fff; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4, h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

p, a {
  font-size: 1rem; }

img {
  padding: 0.25rem 1rem;
  cursor: pointer;
  height: auto; }

header {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: fixed;
  top: 0.5rem;
  z-index: 1; }

footer {
  font-size: 1rem;
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0.15rem; }

.nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: max-content; }

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }

.navbar__toggle-btn {
  opacity: 80%; }

.navbar__desktop {
  display: none;
  justify-content: flex-end; }

.navbar__link {
  margin: 0 1rem;
  border-bottom: solid rgba(255, 255, 255, 0.1) 1px; }

.navbar__link:hover {
  border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
  color: #fff;
  transition: all ease-in 0.2s; }

.navbar__dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgba(22, 22, 22, 0.75);
  top: 3rem;
  right: 0;
  padding-right: 1rem;
  border-radius: 5px;
  z-index: 100; }

.navbar__dropdown-home {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgba(32, 49, 57, 0.75);
  top: 3rem;
  right: 0;
  padding-right: 1rem;
  border-radius: 5px;
  z-index: 100; }
  .navbar__dropdown-home a {
    color: #CF5A61; }

.navbar__social-icons {
  display: flex;
  width: 10%;
  z-index: 1;
  padding-right: 2.5rem; }
  .navbar__social-icons i {
    padding: 0 0.5rem; }

.hidden {
  display: none; }

.container {
  width: 100%;
  height: 100%;
  padding-top: clamp(10%, 11%, 12%); }

.content__box {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #8A4FFF; }

.btn {
  border: solid grey 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  margin: 0.5rem 0.5rem; }

.btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  transition: all ease-in 0.2s; }

.return-home {
  padding: 1rem; }

.return-home:hover {
  color: #fff; }

.home__container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../public/assets/night.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  z-index: 0; }

.home__link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #CF5A61; }

.home__header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 3rem; }

.home__content {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30%;
  z-index: 1; }

.about__container {
  background-color: rgba(22, 22, 22, 0.75);
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 0; }

.about__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 350px;
  font-size: 1rem; }

.about__skill-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
  flex-wrap: wrap; }

.contact__container {
  width: 100%;
  height: 100%;
  padding: clamp(10%, 11%, 12%) 0; }

.contact__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: max-content; }

.img__scale-md {
  width: 2rem; }

.img__scale-lg {
  width: 5rem; }

.img__hover:hover {
  transform: scale(125%);
  transition: all ease-in 0.2s; }

.img__brand {
  width: 2rem;
  min-width: 20px;
  height: 100%; }

.img__brand:hover {
  transform: scale(125%);
  transition: all ease-in 0.2s; }

.form__item {
  margin: 0.5%; }

.form__textarea {
  height: 6rem; }

.form__input {
  width: 20rem;
  font-size: 1.25rem; }

.form__submit {
  background-color: rgba(138, 79, 255, 0.5);
  color: grey;
  border: none;
  font-size: 1.25rem; }

.form__disclaimer {
  font-size: 0.75rem;
  padding: 0.5rem;
  text-align: center; }
  .form__disclaimer a {
    font-size: 0.75rem;
    text-decoration: none; }

.form__submit:hover {
  border: none;
  background-color: #8A4FFF;
  cursor: pointer;
  transition: all ease-in 0.2s; }

.privacy__container {
  max-width: 90%;
  margin-bottom: 25%; }

.footer__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 0.5rem;
  font-size: 0.75rem; }
  .footer__content .footer__privacy {
    font-size: 0.75rem;
    text-decoration: none;
    color: #fff; }

@media only screen and (min-width: 1024px) {
  .nav {
    flex-direction: row; }

  .navbar__desktop {
    display: flex;
    width: 100%; }

  .navbar {
    justify-content: flex-start; }

  .btn {
    margin: 0 0.5rem; }

  .navbar__toggle-btn {
    display: none; } }

/*# sourceMappingURL=app.css.map */
