@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap");
body, html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Recursive", sans-serif;
  background-color: #161616;
  color: #fff; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4, h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

p, a {
  font-size: 1rem; }

img {
  padding: 0.25rem 1rem;
  cursor: pointer;
  height: auto; }

header {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: fixed;
  top: 0.5rem;
  z-index: 1; }

.nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: max-content; }

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }

.navbar__toggle-btn {
  opacity: 80%; }

.navbar__desktop {
  display: none;
  justify-content: flex-end; }

.navbar__link {
  margin: 0 1.5rem;
  border-bottom: solid rgba(255, 255, 255, 0.1) 1px; }

.navbar__link:hover {
  border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
  color: #fff;
  transition: all ease-in 0.2s; }

.navbar__link-active {
  color: #fff !important; }

.navbar__dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgba(22, 22, 22, 0.75);
  top: 3rem;
  right: 0;
  padding-right: 1rem;
  border-radius: 5px;
  z-index: 1; }

.navbar__dropdown-home {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgba(32, 49, 57, 0.75);
  top: 3rem;
  right: 0;
  padding-right: 1rem;
  border-radius: 5px;
  z-index: 1; }
  .navbar__dropdown-home a {
    color: #CF5A61; }

.navbar__social-icons {
  display: flex;
  width: 10%;
  z-index: 1;
  padding-right: 2.5rem; }
  .navbar__social-icons i {
    padding: 0 0.5rem; }

.navbar__details {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end; }

.navbar__details-desktop {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0.5rem;
  text-decoration: none;
  color: #8A4FFF; }
  .navbar__details-desktop .link {
    font-size: 1.25rem; }

.navbar__summary {
  font-size: 1.5rem;
  color: #8A4FFF;
  border-bottom: solid rgba(255, 255, 255, 0.1) 1px; }

.navbar__summary:hover {
  border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
  color: #fff;
  transition: all ease-in 0.2s; }

.hidden {
  display: none; }

.container {
  width: 100%;
  height: 100%;
  padding-top: clamp(10%, 11%, 12%); }

.content__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 10%; }

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #8A4FFF; }

.link-sm {
  font-size: 1rem;
  text-decoration: none;
  color: #8A4FFF; }

.btn {
  border: solid grey 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  margin: 0.5rem; }

.btn-sm {
  border: solid grey 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.25rem;
  margin: 0.25rem;
  width: 8rem; }

.btn:hover, .btn-sm:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  transition: all ease-in 0.2s; }

.btn-active {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.about-me__container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url("../public/assets/night.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  z-index: 0; }

.about-me__link {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 15rem;
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem; }

.about-me__header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem; }

.about-me__content {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40%;
  z-index: 1; }

.about-me__brand {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0; }
  .about-me__brand h1 {
    font-weight: 300; }

.home__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 5rem;
  justify-content: flex-start; }

.home__brand {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%; }
  .home__brand h1 {
    font-weight: 300;
    text-align: center;
    color: #8A4FFF;
    font-size: xxl;
    margin: 0; }
  .home__brand em {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1rem; }

.home__brand-logo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .home__brand-logo img {
    width: 100%;
    object-fit: cover;
    min-width: 10rem;
    max-width: 13rem; }

.home__title {
  display: flex;
  width: 100%;
  flex-direction: column; }

.home__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  padding: 3rem 1rem;
  justify-content: center;
  align-items: center; }
  .home__content h4 {
    margin: 0;
    margin-right: auto; }

.home__article-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }

@media (min-width: 600px) {
  .home__brand {
    flex-flow: row nowrap;
    width: 80%; }

  .home__brand-logo {
    max-width: 10rem;
    padding-right: 1rem; }

  .home__title {
    margin-right: 1rem; }
    .home__title h1 {
      min-width: max-content; } }
@media (min-width: 800px) {
  .home__brand-logo {
    max-width: 14rem; }

  .home__brand {
    max-width: 44rem; }

  .home__title em {
    font-size: 1.5rem; } }
@media (min-width: 1000px) {
  .home__brand-logo {
    width: 22rem; } }
@media (min-width: 1200px) {
  .home__brand-logo {
    width: 28rem; }

  .home__content-title {
    width: 100%;
    padding-left: 17%; } }
@media (min-width: 1600px) {
  .home__brand {
    min-width: 80%;
    margin-left: 20%; }

  .home__title {
    display: inline-flex;
    flex-direction: row; }
    .home__title em {
      max-width: 27rem;
      max-height: 6rem;
      margin-left: 7rem;
      font-size: 2rem;
      line-height: 3rem; } }
.about__container {
  background-color: rgba(22, 22, 22, 0.75);
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 0; }

.about__cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  justify-content: center; }

.about__skill-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
  flex-wrap: wrap; }

.about__card {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 350px; }

.about__card-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid grey 1px;
  border-radius: 5px;
  max-width: clamp(90%, 92%, 95%);
  min-height: 20rem;
  box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.15); }

.about__card-content:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: all ease-in 0.2s; }

.about__card-header {
  width: 100%;
  text-align: center;
  margin: 1rem 0; }

.about__card-subheader {
  color: #CF5A61;
  font-weight: 700;
  margin-left: 1rem; }

.about__card-items {
  list-style-type: square; }

.about__description {
  text-align: center;
  padding: 1rem; }

.contact__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center; }

.contact__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  width: clamp(20rem, 40%, 50%);
  justify-content: center;
  align-items: center; }

.img__scale-md {
  width: 2rem; }

.img__scale-lg {
  width: 5rem; }

.img__scale-index {
  width: 50%; }

.img__hover:hover {
  transform: scale(125%);
  transition: all ease-in 0.2s; }

.img__brand {
  width: 1.5rem;
  min-width: 10px; }

.img__brand:hover {
  transform: scale(125%);
  transition: all ease-in 0.2s; }

.img__icon {
  padding: 0 1rem 0 0;
  margin: 0;
  width: 3rem; }

.article__container {
  flex: 0 0 40%;
  min-height: 10rem;
  border: solid grey 1px;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem; }

.form__item {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem; }
  .form__item label {
    text-align: start;
    width: 100%;
    padding: 0.5rem;
    margin-right: 1rem; }

.form__body {
  padding: 10% 0; }
  .form__body h3 {
    width: 100%;
    text-align: center; }

.form__textarea {
  height: 6rem; }

.form__input {
  width: 100%;
  font-size: 1.25rem;
  margin: 0; }

.form__submit {
  background-color: rgba(138, 79, 255, 0.5);
  color: grey;
  border: none;
  font-size: 1.25rem; }

.form__disclaimer {
  font-size: 0.75rem;
  padding: 0.5rem;
  text-align: center; }
  .form__disclaimer a {
    font-size: 0.75rem;
    text-decoration: none; }

.form__submit:hover {
  border: none;
  background-color: #8A4FFF;
  cursor: pointer;
  transition: all ease-in 0.2s; }

.return-home__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

.return-home__link {
  padding: 1rem; }

.return-home__link:hover {
  color: #fff; }

.privacy__container {
  max-width: 90%;
  margin-bottom: 25%; }

footer {
  font-size: 0.75rem;
  position: relative;
  bottom: 0;
  width: 98vw; }

.footer__content {
  display: flex;
  justify-content: space-between;
  background-color: rgba(22, 22, 22, 0.75);
  padding: 0.5rem;
  color: #8A4FFF;
  width: 100%;
  max-height: 1rem; }
  .footer__content .footer__privacy {
    font-size: 0.75rem;
    text-decoration: none;
    color: #8A4FFF;
    margin-left: 10%; }

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem; }

  .navbar {
    justify-content: flex-start;
    width: 98%; }

  .btn {
    margin: 0 0.5rem; }

  .navbar__toggle-btn {
    display: none; }

  .img__brand {
    min-width: 2rem; }

  .navbar__desktop {
    display: flex;
    width: 100%; } }
@media only screen and (min-width: 900px) {
  .img__scale-index {
    width: 30%; } }
@media only screen and (min-width: 768px) {
  .img__scale-index {
    width: 30%; }

  .nav {
    flex-direction: row; }

  .about__cards {
    flex-direction: row; }

  .home__brand {
    margin: 1rem 0; } }

/*# sourceMappingURL=app.css.map */
